html{
    width: 100%;
    background: url("bg_homepage_1.svg") no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body{
    /*text-align: center;*/
}
table.main-table{
    border-radius: 10px;
    -moz-border-radius: 10px;
    box-shadow: 5px 5px 5px #303133; /* dark gray */
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    background-color: #785CDF; /* purpule */
}
tr:nth-child(even){
    background-color: #7257d1;
}

td{
    font-size:12px;
    width: 4em;
}
#header{
    clear: both;
    padding-top: 5em;
}
.align-center{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.align-center.link{
    display: block; 
    padding-bottom: 5em;
} 

.linkData{
    padding:5px;
    font-size: 16px;
    width: 600px;
}
.dongs{
    text-decoration: none;
    color: black;
}
