html{
    width: 100%;
    background: url("bg_homepage_1.svg") no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body{

}
table.main-table{
    box-shadow: 5px 5px 5px #303133;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    background-color: #785CDF; 
}
tr.link-row:nth-child(even){
    background-color: #7257d1;
}
/*
tr.link-row{
    overflow: hidden;
    overflow-text: ellipsis;
    width: 30px;
}
*/

td.link-num{
    font-size:12px;
    width: 5%;
}
#header{
    clear: both;
    padding-top: 5em;
}
.align-center{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.align-center.link{
    display: block; 
    padding-bottom: 5em;
} 

td.linkData{
    padding:5px;
    font-size: 16px;
}
.dongs{
    text-decoration: none;
    color: black;
}
.truncate{
    display: block;
    width: 600px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
@media screen and (max-width: 480px){
    .truncate{
        width: 220px;
    }
}
