ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  clear:both;
}
.sub-bar-item{
  font-family: Arial;
  font-size: 16px;
  max-width: 20%;
  float: left;
  text-decoration: none;
  text-align: center;
  color: #777A7A; /* light gray */
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;
  width: 200px;
  background-color: #333333;
}
.sub-bar-item-right{
    float: right;
}
.sub-bar-item:hover{
  background-color: #282525;
}
.sub-bar-item:active{
  background-color: #282525;
}
#sub-topnav{
    box-shadow: 0px 6px 5px #303133;
    background-color: #333333;
    width: 100%;
    position: absolute;
    top:0px;
    left:0px;
}
#sub-topnav-spacer{
    margin-top: 40px;
}
